html {
    font: 1.25em/1.5 "Georgia", serif;
    background: var(--white);
    color: var(--black);
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
    padding-left: .5em;
    padding-right: .5em;
}

h2 {
    border-bottom: 1px solid var(--gray-2);
    padding-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, pre, figure, hr,
.content iframe,
.content table {
    margin: 0 0 var(--vertical-margin, 2rem);
}

h1.has-subtitle {
    /* Set base size to the small font size, and then use the span inside
     * to make the text bigger.
     *
     * Having the block `font-size` the same as the smallest possible text
     * inside allows for more pleasing spacing between lines when wrapping. */
    font-size: .8em;
}

h1.has-subtitle span {
    font-size: 2rem;
}

h1.has-subtitle small {
    font-size: inherit;

    /* Force subtitle on its own line if it doesn't fit on the same line
     * as the main title. */
    display: inline-block;
}

blockquote > *,
details,
dd > *,
li > * {
    --vertical-margin: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;

    /* Scroll only the table and not the whole page if it's larger than
     * the container. */
    display: block;
    overflow: auto;

    font-family: "Helvetica Neue", sans-serif;
    font-size: .8em;
}

th, td {
    padding: .5em 1em;
    border: 1px solid var(--gray-2);
    text-align: left;
}

tr:nth-child(even) {
    background: var(--gray-1);
}

blockquote {
    color: var(--gray-6);
    margin-left: 0;
    padding: 0 1em;
    border-left: .25rem solid var(--blue-5);
}

dt {
    font-weight: bold;
}

code, kbd, samp {
    font-family: "Courier New", monospace;
    font-size: .8em;
    background: var(--gray-1);
    padding: .25em .5em;
}

.hljs {
    background: var(--gray-1);
}

kbd {
    font-size: .7em;
    border: 1px solid var(--gray-2);
    border-bottom: 2px solid var(--gray-2);
    border-radius: .75em;
}

hr {
    border-top: 1px solid var(--gray-2);
    border-bottom: 0;
}

a {
    color: var(--blue-5);
    text-decoration: none;
}

a:active, a:hover {
    outline-width: 0;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--purple-5);
}

a[title] {
    text-decoration: underline dotted;
}

ul {
    /* Seems to match bullet width. */
    padding-left: 1em;
}

ol {
    /* Try to match roughly a single digit and a dot. */
    padding-left: 2ch;
}

img, video {
    max-width: 100%;
}

button, input, optgroup, select, textarea {
    background: transparent;
    color: var(--black);
    font-family: "Helvetica Neue", sans-serif;
    font-size: .8em;
    line-height: normal;
    padding: .5em 1em;
    border: 1px solid var(--gray-3);
    border-radius: .25em;
}

/* Visible focus for everything, need to explicitly override `normalize.css`
 * behavior for `:focus-visible`. */
button:focus,
button:focus-visible,
[type="button"]:focus-visible,
[type="reset"]:focus-visible,
[type="submit"]:focus-visible,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
    outline: 2px solid var(--blue-3);
}

button {
    background: var(--blue-5);
    color: var(--white);
    border: 1px solid var(--blue-6);
}

button:hover {
    background: var(--blue-6);
    cursor: pointer;
}

iframe {
    border: 1px solid var(--gray-2);
}

.float-wrapper::after {
    display: table;
    clear: both;
    content: "";
}

.float-inner {
    overflow: hidden;
}
