:root, .light, .hero {
  --color-accent-emphasis: #0969da;
  --color-accent-fg: #0969da;
  --color-accent-muted: rgba(84,174,255,0.4);
  --color-accent-subtle: #ddf4ff;
  --color-attention-muted: rgba(212,167,44,0.4);
  --color-attention-subtle: #fff8c5;
  --color-border-default: #d0d7de;
  --color-canvas-default: #ffffff;
  --color-canvas-subtle: #f6f8fa;
  --color-done-fg: #8250df;
  --color-fg-default: #1f2328;
  --color-fg-muted: #656d76;
  --color-fg-on-emphasis: #ffffff;
  --color-fg-subtle: #6e7781;
  --color-scale-blue-6: #0550ae;
  --color-scale-gray-2: #d0d7de;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent-emphasis: #0969da;
    --color-accent-fg: #0969da;
    --color-accent-muted: rgba(84,174,255,0.4);
    --color-accent-subtle: #ddf4ff;
    --color-attention-muted: rgba(212,167,44,0.4);
    --color-attention-subtle: #fff8c5;
    --color-border-default: #d0d7de;
    --color-canvas-default: #ffffff;
    --color-canvas-subtle: #f6f8fa;
    --color-done-fg: #8250df;
    --color-fg-default: #1f2328;
    --color-fg-muted: #656d76;
    --color-fg-on-emphasis: #ffffff;
    --color-fg-subtle: #6e7781;
    --color-scale-blue-6: #0550ae;
    --color-scale-gray-2: #d0d7de;
  }
}

.dark {
  --color-accent-emphasis: #1f6feb;
  --color-accent-fg: #2f81f7;
  --color-accent-muted: rgba(56,139,253,0.4);
  --color-accent-subtle: rgba(56,139,253,0.1);
  --color-attention-muted: rgba(187,128,9,0.4);
  --color-attention-subtle: rgba(187,128,9,0.15);
  --color-border-default: #30363d;
  --color-canvas-default: #0d1117;
  --color-canvas-subtle: #161b22;
  --color-done-fg: #a371f7;
  --color-fg-default: #e6edf3;
  --color-fg-muted: #848d97;
  --color-fg-on-emphasis: #ffffff;
  --color-fg-subtle: #6e7681;
  --color-scale-blue-6: #1158c7;
  --color-scale-gray-2: #b1bac4;
}
