:root {
    --black: #1b1f23;
    --white: #ffffff;
    --gray-0: #fafbfc;
    --gray-1: #f6f8fa;
    --gray-2: #e1e4e8;
    --gray-3: #d1d5da;
    --gray-4: #959da5;
    --gray-5: #6a737d;
    --gray-6: #586069;
    --gray-7: #444d56;
    --gray-8: #2f363d;
    --gray-9: #24292e;
    --blue-0: #f1f8ff;
    --blue-1: #dbedff;
    --blue-2: #c8e1ff;
    --blue-3: #79b8ff;
    --blue-4: #2188ff;
    --blue-5: #0366d6;
    --blue-6: #005cc5;
    --blue-7: #044289;
    --blue-8: #032f62;
    --blue-9: #05264c;
    --green-0: #f0fff4;
    --green-1: #dcffe4;
    --green-2: #bef5cb;
    --green-3: #85e89d;
    --green-4: #34d058;
    --green-5: #28a745;
    --green-6: #22863a;
    --green-7: #176f2c;
    --green-8: #165c26;
    --green-9: #144620;
    --yellow-0: #fffdef;
    --yellow-1: #fffbdd;
    --yellow-2: #fff5b1;
    --yellow-3: #ffea7f;
    --yellow-4: #ffdf5d;
    --yellow-5: #ffd33d;
    --yellow-6: #f9c513;
    --yellow-7: #dbab09;
    --yellow-8: #b08800;
    --yellow-9: #735c0f;
    --orange-0: #fff8f2;
    --orange-1: #ffebda;
    --orange-2: #ffd1ac;
    --orange-3: #ffab70;
    --orange-4: #fb8532;
    --orange-5: #f66a0a;
    --orange-6: #e36209;
    --orange-7: #d15704;
    --orange-8: #c24e00;
    --orange-9: #a04100;
    --red-0: #ffeef0;
    --red-1: #ffdce0;
    --red-2: #fdaeb7;
    --red-3: #f97583;
    --red-4: #ea4a5a;
    --red-5: #d73a49;
    --red-6: #cb2431;
    --red-7: #b31d28;
    --red-8: #9e1c23;
    --red-9: #86181d;
    --purple-0: #f5f0ff;
    --purple-1: #e6dcfd;
    --purple-2: #d1bcf9;
    --purple-3: #b392f0;
    --purple-4: #8a63d2;
    --purple-5: #6f42c1;
    --purple-6: #5a32a3;
    --purple-7: #4c2889;
    --purple-8: #3a1d6e;
    --purple-9: #29134e;
    --pink-0: #ffeef8;
    --pink-1: #fedbf0;
    --pink-2: #f9b3dd;
    --pink-3: #f692ce;
    --pink-4: #ec6cb9;
    --pink-5: #ea4aaa;
    --pink-6: #d03592;
    --pink-7: #b93a86;
    --pink-8: #99306f;
    --pink-9: #6d224f;
}
html {
    /* font: 1.25em/1.5 "Georgia", serif; */
    font: 1.25em/1.5 "Helvetica Neue", sans-serif;
    background: var(--white);
    color: var(--black);
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
    padding-left: .5em;
    padding-right: .5em;
}

h2 {
    border-bottom: 1px solid var(--gray-2);
    padding-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, pre, figure, hr,
.content iframe,
.content table {
    margin: 0 0 var(--vertical-margin, 2rem);
}

h1.has-subtitle {
    /* Set base size to the small font size, and then use the span inside
     * to make the text bigger.
     *
     * Having the block `font-size` the same as the smallest possible text
     * inside allows for more pleasing spacing between lines when wrapping. */
    font-size: .8em;
}

h1.has-subtitle span {
    font-size: 2rem;
}

h1.has-subtitle small {
    font-size: inherit;

    /* Force subtitle on its own line if it doesn't fit on the same line
     * as the main title. */
    display: inline-block;
}

blockquote > *,
details,
dd > *,
li > * {
    --vertical-margin: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;

    /* Scroll only the table and not the whole page if it's larger than
     * the container. */
    display: block;
    overflow: auto;

    font-family: "Helvetica Neue", sans-serif;
    font-size: .8em;
}

th, td {
    padding: .5em 1em;
    border: 1px solid var(--gray-2);
    text-align: left;
}

tr:nth-child(even) {
    background: var(--gray-1);
}

blockquote {
    color: var(--gray-6);
    margin-left: 0;
    padding: 0 1em;
    border-left: .25rem solid var(--blue-5);
}

dt {
    font-weight: bold;
}

code, kbd, samp {
    font-family: "Courier New", monospace;
    font-size: .8em;
    background: var(--gray-1);
    padding: .25em .5em;
}

.hljs {
    background: var(--gray-1);
}

kbd {
    font-size: .7em;
    border: 1px solid var(--gray-2);
    border-bottom: 2px solid var(--gray-2);
    border-radius: .75em;
}

hr {
    border-top: 1px solid var(--gray-2);
    border-bottom: 0;
}

a {
    color: var(--blue-5);
    text-decoration: none;
}

a:active, a:hover {
    outline-width: 0;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--purple-5);
}

a[title] {
    text-decoration: underline dotted;
}

ul {
    /* Seems to match bullet width. */
    padding-left: 1em;
}

ol {
    /* Try to match roughly a single digit and a dot. */
    padding-left: 2ch;
}

img, video {
    max-width: 100%;
}

button, input, optgroup, select, textarea {
    background: transparent;
    color: var(--black);
    font-family: "Helvetica Neue", sans-serif;
    font-size: .8em;
    line-height: normal;
    padding: .5em 1em;
    border: 1px solid var(--gray-3);
    border-radius: .25em;
}

/* Visible focus for everything, need to explicitly override `normalize.css`
 * behavior for `:focus-visible`. */
button:focus,
button:focus-visible,
[type="button"]:focus-visible,
[type="reset"]:focus-visible,
[type="submit"]:focus-visible,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
    outline: 2px solid var(--blue-3);
}

button {
    background: var(--blue-5);
    color: var(--white);
    border: 1px solid var(--blue-6);
}

button:hover {
    background: var(--blue-6);
    cursor: pointer;
}

iframe {
    border: 1px solid var(--gray-2);
}

.float-wrapper::after {
    display: table;
    clear: both;
    content: "";
}

.float-inner {
    overflow: hidden;
}
.header-anchor {
    color: var(--black);
    margin-left: -1.5ch;
    padding-left: 1.5ch;
}

.header-anchor:visited {
    color: var(--black);
}

.header-anchor:hover {
    text-decoration: none;
}

.header-anchor:hover::before,
.header-anchor:focus::before {
    content: '#';
    color: var(--blue-5);
    position: relative;
    float: left;
    left: -1.5ch;
    width: 0;
    height: 0;
}
@media not (min-width: 42em) {
    .contact-table tr {
        display: flex;
        flex-direction: column;
    }

    .contact-table th:not(:first-child),
    .contact-table td:not(:first-child) {
        border-top: 0;
    }
}
figure {
    /* Ensures eventual `figcaption`'s width is at most the image width. */
    display: grid;
    justify-content: start;

    /* Close to what a space would otherwise be. */
    gap: .25rem;
}

figcaption {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: .25rem;
    font-family: "Helvetica Neue", sans-serif;
    font-size: .8em;
    padding: .25em .75em;
    background-color: var(--blue-5);
    color: var(--white);
}

figure img {
    /* Remove the extra spacing below the picture when it's inline and
     * aligned to the baseline. */
    vertical-align: top;
}

figure.full {
    /* Useful if using a video wrapper inside a figure that also have a
     * caption (so when the figure itself cannot be the video wrapper),
     * as the left justification otherwise doesn't play well with it. */
    justify-content: normal;
}

figure.center, figure.grid {
    justify-content: center;
    justify-items: center;
}

.video {
    position: relative;

    /* Force 16:9 ratio. */
    padding-bottom: 56.25%;
}

.video iframe, .video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (min-width: 42em) {
    figure.left {
        float: left;
        margin-right: 1em;
    }

    figure.right {
        float: right;
        margin-left: 1em;
    }

    figure.grid {
        display: flex;
        flex-wrap: wrap;
    }

    figure.grid figcaption {
        /* Already handled by the gap. */
        margin-top: 0;
    }

    figure.grid-grow > :not(figcaption) {
        flex-grow: 1;
    }

    figure.grid-2 > :not(figcaption) {
        width: calc((100% - .25rem) / 2);
    }

    figure.grid-3 > :not(figcaption) {
        width: calc((100% - .5rem) / 3);
    }
}

@media (min-width: 42em) and (max-width: 77em) {
    figure.grid-3 > :not(figcaption) {
        width: calc((100% - .25rem) / 2);
    }
}
footer {
    /* Match content container width. */
    max-width: 45rem;
    margin: 10em auto 3em auto;
    padding: 0 .5em;
    text-align: center;
}

footer p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: .75em;
    color: var(--gray-4);
    padding: 2em 0;
    margin: 0;
    border-top: 1px solid var(--gray-2);
}

footer a, footer a:visited {
    color: var(--gray-6);
}

footer a:hover {
    color: var(--black);
    text-decoration: none;
}

.footnotes p {
    margin: 0;
}
@media (min-width: 42em) {
    header .content {
        margin-top: 2rem;
    }
}

@media (min-width: 69em) {
    header .content {
        margin-top: 5em;
    }
}

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
}

.hero .header-inner {
    background-color: rgba(0, 0, 0, .1);
    padding: 4em 0 1em;
}

.hero .content {
    margin-top: 14vw;
    margin-bottom: 8vw;
}

.hero h1 {
    text-shadow: 1px 2px rgba(0, 0, 0, .1);
    color: var(--white);
}

.post .hero .tagline {
    color: var(--white);
}

.post .hero .date {
    color: var(--gray-2);
}

.hero code {
    background: none;
}

.hero:hover .hero-credit {
    opacity: 1;
}

.hero-credit {
    font-family: "Helvetica Neue", sans-serif;
    font-size: .8em;
    position: absolute;
    right: 1em;
    bottom: .5em;
    opacity: 0;
    transition: opacity 100ms;
}

.hero-credit,
.hero-credit:visited {
    color: var(--gray-2);
}

.hero-credit:hover {
    color: var(--white);
    text-decoration: none;
}
nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /* Dirty fix to prevent horizontal scroll in some cased because of negative
     * margin below. */
    overflow: hidden;

    padding: 1em .5em;
    margin-left: auto;
    margin-right: auto;

    /* Match content container width. */
    max-width: 45rem;
}

nav ul {
    font-family: "Helvetica Neue", sans-serif;
    font-size: .75em;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;

    /* Negative horizontal margin to make up for the fact each `<li>`
     * has horizontal padding. */
    margin: 1em -1em;
}

@media (min-width: 69em) {
    nav {
        padding: 1em 2em;
        max-width: none;
    }
}

@media (min-width: 42em) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

nav li {
    padding: 0 1em;
}

nav a, nav a:visited {
    color: var(--gray-6);
}

nav a:hover {
    color: var(--black);
    text-decoration: none;
}

nav .social svg {
    vertical-align: middle;
}

nav .social svg {
    --color-fill: var(--gray-6);
}

nav .social a:hover svg {
    --color-fill: var(--black);
}
.note {
    margin: 0 0 var(--vertical-margin, 2rem);
    background: var(--blue-0);
    border-top: .25rem solid var(--blue-5);
    padding: 1em;
}

.note > :first-child {
    margin-top: 0;
}

.note > :last-child {
    margin-bottom: 0;
}

.note > * {
    --vertical-margin: 1rem;
}
/* I'm aiming for 60em but this doesn't account for the 1.25em root font size,
 * so it should be 75em here, but I added 2em to break before the width of the
 * vertical scrollbar causes an horizontal scroll, and to keep some padding. */
@media (min-width: 77em) {
    .oversized {
        /* I thought that I wanted a full sized container with a centered inner
         * container that's 60rem wide, but 100vw doesn't account for the
         * vertical scrollbar so it ends up causing an horizontal scrollbar.
         *
         * Instead a relative negative padding to expand to 60rem works. */
        margin-left: -7.5rem;
        margin-right: -7.5rem;
    }
}
.index .header-inner {
    display: flex;
    text-align: center;
}

.index h1 {
    margin: 0;
}

.index .tagline {
    margin: 0;
    font-size: .8em;
}

@media (min-width: 42em) {
    .index .header-inner {
        text-align: left;

        /* Seems to be what consistently looks better across a variety of
         * system fonts. */
        line-height: normal;
    }

    .index h1.has-subtitle {
        font-size: 1em;
    }

    .index h1 span {
        font-size: 4rem;
    }

    .index .tagline {
        /* Make up alignment for the fact title is much bigger. */
        padding-left: .5em;
    }
}

.links ul {
    list-style-type: none;
    padding-left: 0;
}

.links {
    font-family: "Helvetica Neue", sans-serif;
}

.posts li {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: .5em;
    flex-direction: column-reverse;
}

.posts li:not(:last-child) {
    border-bottom: 1px solid var(--gray-1);
}

/* Make sure we don't target the `<small>` tags in the `<a>` but only
 * the one used for the date. */
.posts li > small {
    color: var(--gray-4);
    white-space: nowrap;
}

@media (min-width: 42em) {
    .posts li {
        margin-bottom: 0;
        flex-direction: row;
    }

    .posts li > small {
        text-align: right;
    }
}

.search {
    --vertical-margin: 1rem;
}
.post h1 {
    margin-bottom: .5rem;
}

.post .tagline,
.post .date {
    font-family: "Helvetica Neue", sans-serif;
}

.post .tagline {
    margin-bottom: 0;
}

.post .date {
    color: var(--gray-4);
}

.post-footer {
    padding-top: 2rem;
    border-top: 1px solid var(--gray-2);
}
