html {
    font: 1.25em/1.5 "Times", serif;
    color: #333;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
    padding-left: .5em;
    padding-right: .5em;
}

/* I'm aiming for 60em but this doesn't account for the 1.25em root font size,
 * so it should be 75em here, but I added 2em to break before the width of the
 * vertical scrollbar causes an horizontal scroll, and to keep some padding. */
@media (min-width: 77em) {
    .oversized {
        /* I thought that I wanted a full sized container with a centered inner
         * container that's 60rem wide, but 100vw doesn't account for the
         * vertical scrollbar so it ends up causing an horizontal scrollbar.
         *
         * Instead a relative negative padding to expand to 60rem works. */
        margin-left: -7.5rem;
        margin-right: -7.5rem;
    }
}

h2:not(:first-child) {
    border-top: 1px solid #eee;
    padding-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, pre, figure {
    margin: 2rem 0 2rem 0;
}

h1.has-subtitle {
    /* Set base size to the small font size, and then use the span inside
     * to make the text bigger.
     *
     * Having the block `font-size` the same as the smallest possible text
     * inside allows for more pleasing spacing between lines when wrapping. */
    font-size: .8em;
}

h1.has-subtitle span {
    font-size: 2rem;
}

h1.has-subtitle small {
    font-size: inherit;

    /* Force subtitle on its own line if it doesn't fit on the same line
     * as the main title. */
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;

    /* Scroll only the table and not the whole page if it's larger than
     * the container. */
    display: block;
    overflow: auto;
}

th, td {
    padding: .25em .75em;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background: #f8f8f8;
}

blockquote {
    margin-left: 0;
    padding: 0 1em;
    border-left: .25rem solid #4183c4;
}

dt {
    font-weight: bold;
}

code, kbd, samp {
    font-family: "Courier", monospace;
    font-size: .75em;
    background: #f8f8f8;
    padding: .25em .5em;
}

hr {
    border-top: 1px solid #eee;
    border-bottom: 0;
}

a {
    color: #4183c4;
    text-decoration: none;
}

a:active, a:hover {
    outline-width: 0;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #6e5494;
}

ul {
    /* Seems to match bullet width. */
    padding-left: 1em;
}

ol {
    /* Try to match roughly a single digit and a dot. */
    padding-left: 2ch;

    /* Deal with lists on the side of floats... */
    overflow: hidden;
}

img {
    max-width: 100%;
}
.header-anchor {
    color: #333;
    margin-left: -1.5ch;
    padding-left: 1.5ch;
}

.header-anchor:visited {
    color: #333;
}

.header-anchor:hover {
    text-decoration: none;
}

.header-anchor:hover::before,
.header-anchor:focus::before {
    content: '#';
    color: #4183c4;
    position: relative;
    float: left;
    left: -1.5ch;
    width: 0;
    height: 0;
}
figure {
    margin-left: 0;
    margin-right: 0;
}

figure img, figure object {
    display: inline-block;
    max-width: 100%;
}

figure.video {
    position: relative;
    padding-bottom: 56.25%;
}

figure.video iframe, figure.video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media all and (max-width: 42em) {
    figure {
        text-align: center;
    }
}

@media not all and (max-width: 42em) {
    figure.left {
        float: left;
        margin: 0 1em 0 0;
    }

    figure.right {
        float: right;
        margin: 0 0 0 1em;
    }
}

figure.center {
    text-align: center;
}

figure.center img {
    margin: 0 auto;
}
footer {
    margin: 10em 0 1em 0;
    padding: 0 2em;
    display: flex;
    justify-content: center;
}

footer p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: .75em;
    color: #bbb;
    margin: 1em 0;
}

@media all and (max-width: 69em) {
    footer {
        margin-left: auto;
        margin-right: auto;
        max-width: 45rem;
        padding: 0 .5em;
    }
}

footer a, footer a:visited {
    color: #666;
}

footer a:hover {
    color: #333;
    text-decoration: none;
}
.footnotes-sep {
    margin-top: 4em;
}

.footnotes p {
    margin: 0;
}
.header-inner {
    padding: 1em 2em 0;
}

@media all and (max-width: 69em) {
    .header-inner {
        padding: 1em 0 0;
    }
}

header .content {
    margin-top: 6em;
}
nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* Dirty fix to prevent horizontal scroll in some cased because of negative
     * margin below. */
    overflow: hidden;
}

nav ul {
    font-family: "Helvetica Neue", sans-serif;
    font-size: .75em;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin: 1em -1em;
}

@media all and (max-width: 69em) {
    nav {
        margin-left: auto;
        margin-right: auto;
        max-width: 45rem;
        padding: 0 .5em;
    }
}

@media all and (max-width: 42em) {
    nav {
        flex-direction: column;
    }

    nav ul {
        justify-content: center;
    }
}

nav li {
    padding: 0 1em;
}

nav a, nav a:visited {
    color: #666;
}

nav a:hover {
    color: #333;
    text-decoration: none;
}

nav .social svg {
    --color-fill: #666;
}

nav .social a:hover svg {
    --color-fill: #333;
}
.hero {
    background-size: cover;
    background-position: center;
}

.hero .header-inner {
    background-color: rgba(0, 0, 0, .1);
    padding-bottom: 1em;
}

.hero .content {
    margin-top: 14vw;
    margin-bottom: 8vw;
}

.hero h1 {
    text-shadow: 1px 2px rgba(0, 0, 0, .1);
    color: #fff;
}

.post .hero h1 + p {
    color: #ddd;
}

.hero, .hero nav a, .hero nav a:visited {
    color: #ddd;
}

.hero nav a:hover {
    color: #fff;
}

.hero nav .social svg {
    --color-fill: #ddd;
}

.hero nav .social a:hover svg {
    --color-fill: #fff;
}
.index h1 {
    text-align: center;
}

.links ul {
    list-style-type: none;
    padding-left: 0;
}

.links {
    font-family: "Helvetica Neue", sans-serif;
}

.posts li {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

@media all and (max-width: 38em) {
    .posts li {
        margin-bottom: .5em;
        flex-direction: column-reverse;
    }
}

.posts li:not(:last-child) {
    border-bottom: 1px solid #f8f8f8;
}

/* Make sure we don't target the `<small>` tags in the `<a>` but only
 * the one used for the date. */
.posts li > small {
    color: #bbb;
    white-space: nowrap;
}

@media not all and (max-width: 38em) {
    .posts small {
        text-align: right;
    }
}
.post h1 {
    margin-bottom: .5rem;
}

.post h1 + p {
    font-family: "Helvetica Neue", sans-serif;
    color: #bbb;
    margin-top: 0;
}
