html
  font 1.25em serif
  color darkgrey

body
  margin 0 auto 80vh
  padding 0 1em
  max-width body-width

h1, h2
  border-bottom 1px solid subtlegrey

table
  width 100%
  border-collapse collapse

th, td
  padding .25em .5em
  border 1px solid lightgrey

tr:nth-child(even)
  background invisiblegrey

blockquote
  color grey
  margin-left 0
  padding-left 2em
  border-left 1px solid lightgrey
  clear() // Do not collapse quote inner margins.

dt
  font-weight bold

dd > ul, dd > ol
  padding-left 0

pre, code
  font-size .75em

pre > code
  font-size inherit

hr
  border-top 1px solid subtlegrey
  border-bottom 0

a
  color blue
  text-decoration none

  &:hover
    text-decoration underline
