doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title
      block title
    link(rel='stylesheet', href='#{base}/css/main.css')
  body(class=layout)
    block body
