doctype html
html(lang='en')
  block vars
    - var source = 'https://github.com/valeriangalliat/blog/tree/master/' + file.replace(/\.part.html$/, '.md')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title
      block title
    link(rel='stylesheet', href='#{base}/css/main.css')
  body(class=layout)
    block body
    hr.footer-sep
    footer.
      Generated from a #[a(href=source) public repository].
      Pull requests and issues are welcome!
      #[a(href='https://creativecommons.org/publicdomain/zero/1.0/') No rights reserved].
