// Shades of grey.
darkgrey = #333
grey = #666
lightgrey = #ddd
subtlegrey = #eee
invisiblegrey = #fafafa

clear()
  &::before, &::after
    content ''
    display table

body
  font 1.25em serif
  color darkgrey

  margin 0 auto 80vh
  padding 0 1em
  max-width 80ch

.post h1
  margin-bottom .5rem

.post h1 + p
  color lightgrey
  margin-top 0

h1, h2
  border-bottom 1px solid subtlegrey

h1, h2, h3, h4, h5, h6
  position relative

  &:hover .header-anchor
    opacity 1

.header-anchor
  // Same anchor size no matter the header size.
  font-size 1.5rem

  text-decoration none
  color grey
  opacity 0

  // Off flow, on the left.
  position absolute
  left -1.5ch

  // Balance `left` to avoid gap breaking hover between header and anchor.
  padding-right -@left - 1ch

  // Try to center the anchor no matter the header line height.
  top 50%
  margin-top -1.25ex

table
  width 100%
  border-collapse collapse

th, td
  padding .25em .5em
  border 1px solid lightgrey

tr:nth-child(even)
  background invisiblegrey

blockquote
  color grey
  margin-left 0
  padding-left 2em
  border-left 1px solid lightgrey

  // Do not collapse quote inner margins.
  clear()

dt
  font-weight bold

.title
  float right
  z-index 2
  position relative
  font-size 2rem
  line-height 3rem

  a
    text-decoration none
    color darkgrey

.posts
  ul
    list-style-type none
    padding-left 0

  small
    color grey
