.posts
  ul
    display table
    width 100%

  li
    display table-row
    left 0

    @media not all and (max-width bp-small)
      &:not(:last-child)
        a, small
          border-bottom 1px solid invisiblegrey

  a, small
    display table-cell

  small
    color midgrey
    text-align right

    @media all and (max-width bp-small)
      display none
