.posts
  ul
    list-style-type none

  li
    display flex

    // Unset general `li` styling.
    left 0
    padding-right 0

    align-items baseline
    justify-content space-between

    @media all and (max-width bp-small)
      margin-bottom .5em
      flex-direction column-reverse

  li:not(:last-child)
    border-bottom 1px solid invisiblegrey

  small
    color midgrey

    @media not all and (max-width bp-small)
      text-align right
