.posts
  ul
    display table
    width 100%

  li
    display table-row
    left 0

    &:not(:last-child)
      a, small
        border-bottom 1px solid invisiblegrey

  a, small
    display table-cell

  small
    color midgrey
    text-align right
