h1, h2, h3, h4, h5, h6
  position relative

  &:hover .header-anchor
    opacity 1

.header-anchor
  text-decoration none
  color grey
  opacity 0

  // Off flow, on the left.
  position absolute
  left -1.5ch

  // Balance `left` to avoid gap breaking hover between header and anchor.
  padding-right -@left - 1ch

  &:hover
    text-decoration none
