h1, h2, h3, h4, h5, h6 {
    position: relative;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
    opacity: 1;
}

.header-anchor {
    text-decoration: none;
    opacity: 0;
    position: absolute;
    left: -1.5ch;
    padding-right: 0.5ch;
}

.header-anchor:hover {
    text-decoration: none;
}

.header-anchor:visited {
    color: #4183c4;
}
