.header-anchor {
    color: var(--color-fg-default);
    margin-left: -1.5ch;
    padding-left: 1.5ch;
}

.header-anchor:visited {
    color: var(--color-fg-default);
}

.header-anchor:hover {
    text-decoration: none;
}

.header-anchor:hover::before,
.header-anchor:focus::before {
    content: '#';
    color: var(--color-accent-fg);
    position: relative;
    float: left;
    left: -1.5ch;
    width: 0;
    height: 0;
}
