figure {
    /* Ensures eventual `figcaption`'s width is at most the image width. */
    display: grid;
    justify-content: start;

    /* Close to what a space would otherwise be. */
    gap: .25rem;
}

figcaption {
    text-align: center;
    margin-top: .25rem;
    font-family: "Helvetica Neue", sans-serif;
    font-size: .8em;
    padding: .25em .75em;
    background-color: #4183c4;
    color: #fff;
}

figure img {
    /* Remove the extra spacing below the picture when it's inline and
     * aligned to the baseline. */
    vertical-align: top;
}

figure.full {
    /* Useful if using a video wrapper inside a figure that also have a
     * caption (so when the figure itself cannot be the video wrapper),
     * as the left justification otherwise doesn't play well with it. */
    justify-content: normal;
}

figure.center, figure.grid {
    justify-content: center;
}

.video {
    position: relative;

    /* Force 16:9 ratio. */
    padding-bottom: 56.25%;
}

.video iframe, .video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (min-width: 42em) {
    figure.left {
        float: left;
        margin: 0 1em 0 0;
    }

    figure.right {
        float: right;
        margin: 0 0 0 1em;
    }

    figure.grid {
        display: flex;
        flex-wrap: wrap;
    }

    figure.grid figcaption {
        /* Make this a full size row. */
        flex-basis: 100%;

        /* Already handled by the gap. */
        margin-top: 0;
    }

    figure.grid > :not(figcaption) {
        flex-basis: 100%;
    }

    figure.grid-grow > :not(figcaption) {
        flex-grow: 1;
    }

    figure.grid-2 > :not(figcaption) {
        flex-basis: calc((100% - .25rem) / 2);
    }

    figure.grid-3 > :not(figcaption) {
        flex-basis: calc((100% - .5rem) / 3);
    }
}

@media (min-width: 42em) and (max-width: 77em) {
    figure.grid-3 > :not(figcaption) {
        flex-basis: calc((100% - .25rem) / 2);
    }
}
