figure {
    margin-left: 0;
    margin-right: 0;
}

figure img, figure object {
    display: inline-block;
    max-width: 100%;
}

@media all and (max-width: 42em) {
    figure {
        text-align: center;
    }
}

@media not all and (max-width: 42em) {
    figure.left {
        float: left;
        margin: 0 1em 0 0;
    }

    figure.right {
        float: right;
        margin: 0 0 0 1em;
    }
}

figure.center {
    text-align: center;
}

figure.center img {
    margin: 0 auto;
}
