figure {
    /* Ensures eventual `figcaption`'s width is at most the image width. */
    display: grid;
    justify-content: start;

    /* Close to what a space would otherwise be. */
    --gap: .25rem;
    gap: var(--gap);
}

figcaption {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: .25rem;
    font-family: "Helvetica Neue", sans-serif;
    font-size: .8em;
    padding: .25em .75em;
    background-color: var(--color-accent-emphasis);
    color: var(--color-fg-on-emphasis);
}

figure img {
    /* Remove the extra spacing below the picture when it's inline and
     * aligned to the baseline. */
    vertical-align: top;
}

figure.full {
    /* Useful if using a video wrapper inside a figure that also have a
     * caption (so when the figure itself cannot be the video wrapper),
     * as the left justification otherwise doesn't play well with it. */
    justify-content: normal;
}

figure.center, figure.grid {
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.video {
    position: relative;

    /* Force 16:9 ratio. */
    padding-bottom: 56.25%;
}

.video iframe, .video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (min-width: 42em) {
    figure.left {
        float: left;
        margin-right: 1em;
    }

    figure.right {
        float: right;
        margin-left: 1em;
    }

    figure.grid {
        display: flex;
        flex-wrap: wrap;
    }

    figure.grid figcaption {
        /* Already handled by the gap. */
        margin-top: 0;
    }

    figure.grid-grow > :not(figcaption) {
        flex-grow: 1;
    }

    figure.grid-2 > :not(figcaption) {
        /* Ratio used to custom configure landscape and portrait pairing. */
        width: calc((100% - var(--gap)) * var(--ratio, 0.5));
    }

    figure.grid-3 > :not(figcaption) {
        width: calc((100% - var(--gap) * 2) / 3);
    }
}

@media (min-width: 42em) and (max-width: 77em) {
    figure.grid-3 > :not(figcaption) {
        width: calc((100% - var(--gap)) / 2);
    }
}

figure.grid.grid-min-2 {
    display: flex;
    flex-wrap: wrap;
}

figure.grid.grid-min-2 > figcaption {
    margin-top: 0;
}

figure.grid.grid-min-2.grid-grow > :not(figcaption) {
    flex-grow: 1;
}

figure.grid.grid-min-2 > :not(figcaption) {
    width: calc((100% - var(--gap)) * var(--ratio, 0.5));
}

figure.grid.grid-fit > :not(figcaption) {
    width: auto;
    max-width: calc((100% - var(--gap)) * var(--ratio, 0.5));
}

@media (min-width: 42em) {
    figure.grid.grid-3.grid-min-2 > :not(figcaption) {
        width: calc((100% - var(--gap) * 2) / 3);
    }
}
