footer {
    max-width: 45rem;
    margin: 10em auto 3em auto;
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 1px solid var(--gray-2);
}

footer p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: .75em;
    color: var(--gray-4);
    margin: 2em 0;
}

@media (max-width: 69em) {
    footer {
        margin-left: auto;
        margin-right: auto;
        max-width: 45rem;
        padding: 0 .5em;
    }
}

footer a, footer a:visited {
    color: var(--gray-6);
}

footer a:hover {
    color: var(--black);
    text-decoration: none;
}
