footer {
    border-top: 1px solid #eee;
    color: #bbb;
    font-size: 0.75em;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding-top: .5rem;
}

footer a, footer a:visited {
    color: #666;
}
