.footnotes p {
    margin: 0;
}

footer {
    /* Match content container width. */
    max-width: 45rem;
    margin: 5em auto;
    padding: 0 .5em;
}

.footer-inner {
    padding-top: 2em;
    border-top: 1px solid var(--color-border-default);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer figure {
    border-radius: 100%;
    overflow: hidden;
    width: 8em;
}

@media (min-width: 42em) {
    .footer-inner {
        flex-direction: row;
    }

    footer figure {
        margin-right: 2em;
        margin-bottom: 0;
    }
}

.footer-content {
    font-family: "Helvetica Neue", sans-serif;
    font-size: .75em;
    color: var(--color-fg-subtle);
    text-align: center;
    --vertical-margin: 1rem;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

footer li {
    padding: 0 1em;
}

footer a, footer a:visited {
    color: var(--color-fg-muted);
}

footer a:hover {
    color: var(--color-fg-default);
    text-decoration: none;
}
