header .content {
    margin-bottom: 1em;
}

@media (min-width: 42em) {
    header .content {
        margin-top: 2em;
    }
}

@media (min-width: 69em) {
    header .content {
        margin-top: 5em;
    }
}

header h1:not(:last-child) {
    margin-bottom: .5rem;
}

header .tagline,
header .date {
    font-family: "Helvetica Neue", sans-serif;
}

header p:not(:last-child) {
    margin-bottom: 0;
}

header .date,
.now header .tagline {
    color: var(--color-fg-subtle);
}

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 2em;
}

.hero .header-inner {
    background-color: rgba(0, 0, 0, .1);
    padding: 4em 0 1em;
}

.hero .content {
    margin-top: 14vw;
    margin-bottom: 8vw;
}

.hero h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    color: var(--color-fg-on-emphasis);
}

.hero .tagline,
.hero .date {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.hero .tagline,
.now .hero .date {
    color: var(--color-fg-on-emphasis);
}

.hero .date,
.now .hero .tagline {
    color: var(--color-scale-gray-1);
}

.hero a,
.hero a:visited {
    color: var(--color-fg-on-emphasis);
}

.hero code {
    background: none;
}

.hero:hover .hero-credit {
    opacity: 1;
}

.hero .hero-credit {
    font-family: "Helvetica Neue", sans-serif;
    font-size: .8em;
    position: absolute;
    right: 1em;
    bottom: .5em;
    opacity: 0;
    transition: color 100ms, opacity 100ms;
}

.hero .hero-credit,
.hero .hero-credit:visited {
    color: var(--color-scale-gray-1);
}

.hero .hero-credit:hover {
    color: var(--color-fg-on-emphasis);
    text-decoration: none;
}
