header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em 0 6em 0;
    padding: 0 2em;

    /* Dirty fix to prevent horizontal scroll in some cased because of negative
     * margin below. */
    overflow: hidden;
}

header ul {
    font-family: sans-serif;
    font-size: 0.75em;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin: 1em -1em;
}

@media all and (max-width: 69em) {
    header {
        margin-left: auto;
        margin-right: auto;
        max-width: 45rem;
        padding: 0 .5em;
    }
}

@media all and (max-width: 42em) {
    header {
        flex-direction: column;
    }

    header ul {
        justify-content: center;
    }
}

header li {
    padding: 0 1em;
}

header a, header a:visited {
    color: #666;
}

header a:hover {
    color: #333;
    text-decoration: none;
}

header .social svg {
    --color-fill: #666;
}

header .social a:hover svg {
    --color-fill: #333;
}
