.hero {
    position: relative;
    background-size: cover;
    background-position: center;
}

.hero .header-inner {
    background-color: rgba(0, 0, 0, .1);
    padding: 4em 0 1em;
}

.hero .content {
    margin-top: 14vw;
    margin-bottom: 8vw;
}

.hero h1 {
    text-shadow: 1px 2px rgba(0, 0, 0, .1);
    color: var(--white);
}

.post .hero .tagline {
    color: var(--white);
}

.post .hero .date {
    color: var(--gray-2);
}

.hero code {
    background: none;
}

.hero:hover .hero-credit {
    opacity: 1;
}

.hero-credit {
    font-family: "Helvetica Neue", sans-serif;
    font-size: .8em;
    position: absolute;
    right: 1em;
    bottom: .5em;
    opacity: 0;
    transition: opacity 100ms;
}

.hero-credit,
.hero-credit:visited {
    color: var(--gray-2);
}

.hero-credit:hover {
    color: var(--white);
    text-decoration: none;
}
