nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 1em .5em;
    margin-left: auto;
    margin-right: auto;

    /* Match content container width. */
    max-width: 45rem;
}

nav ul {
    width: 100%;
    font-family: "Helvetica Neue", sans-serif;
    font-size: .75em;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 2em;
    margin: 1em 0;
}

@media (min-width: 42em) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

nav li.pull {
    margin-left: auto;
}

nav a, nav a:visited {
    color: var(--color-fg-muted);
}

nav a:hover {
    color: var(--color-fg-default);
    text-decoration: none;
}

.change-color-theme, .change-color-theme:hover {
    /* Reset button styles */
    background: none;
    font-size: initial;
    border-radius: 0;
    padding: 0;
    border: 0;
}
