nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /* Dirty fix to prevent horizontal scroll in some cased because of negative
     * margin below. */
    overflow: hidden;

    padding: 1em .5em;
    margin-left: auto;
    margin-right: auto;

    /* Match content container width. */
    max-width: 45rem;
}

nav ul {
    font-family: "Helvetica Neue", sans-serif;
    font-size: .75em;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin: 1em -1em;
}

@media (min-width: 69em) {
    nav {
        padding: 1em 2em;
        max-width: none;
    }
}

@media (min-width: 42em) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

nav li {
    padding: 0 1em;
}

nav a, nav a:visited {
    color: var(--gray-6);
}

nav a:hover {
    color: var(--black);
    text-decoration: none;
}

nav .social svg {
    vertical-align: middle;
}

nav .social svg {
    --color-fill: var(--gray-6);
}

nav .social a:hover svg {
    --color-fill: var(--black);
}
