.note {
    margin: 0 0 var(--vertical-margin, 2rem);
    background: var(--color-accent-subtle);
    border-top: .25rem solid var(--color-accent-muted);
    border-radius: .25rem;
    padding: 1em;
}

.note > :first-child {
    margin-top: 0;
}

.note > :last-child {
    margin-bottom: 0;
}

.note > * {
    --vertical-margin: 1rem;
}

.note.warn {
    background: var(--color-attention-subtle);
    border-top-color: var(--color-attention-muted);
}
