.index .header-inner {
    display: flex;
    text-align: center;
}

.index h1 {
    margin: 0;
}

.index .tagline {
    margin: 0;
    font-size: .8em;
}

@media (min-width: 42em) {
    .index .header-inner {
        text-align: left;

        /* Seems to be what consistently looks better across a variety of
         * system fonts. */
        line-height: normal;
    }

    .index h1 {
        font-size: 4rem;
    }

    .index h1.has-subtitle {
        font-size: 1rem;
    }

    .index h1.has-subtitle span {
        font-size: 4rem;
    }

    .index .tagline {
        /* Make up alignment for the fact title is much bigger. */
        padding-left: .5em;
    }
}

.links ul {
    list-style-type: none;
    padding-left: 0;
}

.links {
    font-family: "Helvetica Neue", sans-serif;
}

.posts li {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: .5em;
    flex-direction: column-reverse;
}

.posts li:not(:last-child) {
    border-bottom: 1px solid var(--color-canvas-subtle);
}

/* Make sure we don't target the `<small>` tags in the `<a>` but only
 * the one used for the date. */
.posts li > small {
    color: var(--color-fg-subtle);
    white-space: nowrap;
}

@media (min-width: 42em) {
    .posts li {
        margin-bottom: 0;
        flex-direction: row;
    }

    .posts li > small {
        text-align: right;
    }
}

.search {
    --vertical-margin: 1rem;
}
