.index .header-inner {
    display: flex;
}

.index h1 {
    line-height: 1;
    margin: 0;
}

.index h1.has-subtitle {
    font-size: 1em;
}

.index h1 span {
    font-size: 4rem;
}

.index .tagline {
    margin: 0;
    font-size: .8em;

    /* Make up alignment for the fact title is much bigger. */
    padding-left: .5em;
}

.links ul {
    list-style-type: none;
    padding-left: 0;
}

.links {
    font-family: "Helvetica Neue", sans-serif;
}

.posts li {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

@media (max-width: 38em) {
    .posts li {
        margin-bottom: .5em;
        flex-direction: column-reverse;
    }
}

.posts li:not(:last-child) {
    border-bottom: 1px solid var(--gray-1);
}

/* Make sure we don't target the `<small>` tags in the `<a>` but only
 * the one used for the date. */
.posts li > small {
    color: var(--gray-4);
    white-space: nowrap;
}

@media (min-width: 38em) {
    .posts small {
        text-align: right;
    }
}

.search p, .search ul {
    margin: 1rem 0;
}
