.index h1 {
    text-align: center;
}

.links ul {
    list-style-type: none;
    padding-left: 0;
}

.links {
    font-family: sans-serif;
}

.posts li {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

@media all and (max-width: 38em) {
    .posts li {
        margin-bottom: .5em;
        flex-direction: column-reverse;
    }
}

.posts li:not(:last-child) {
    border-bottom: 1px solid #f8f8f8;
}

/* Make sure we don't target the `<small>` tags in the `<a>` but only
 * the one used for the date. */
.posts li > small {
    color: #bbb;
}

@media not all and (max-width: 38em) {
    .posts small {
        text-align: right;
    }
}
