.post h1,
.page-updated h1 {
    margin-bottom: .5rem;
}

.post .tagline,
.post .date,
.page-updated .tagline,
.page-updated .date {
    font-family: "Helvetica Neue", sans-serif;
}

.post .tagline,
.page-updated .tagline {
    margin-bottom: 0;
}

.post .date,
.page-updated .tagline {
    color: var(--color-fg-subtle);
}

.post-footer {
    padding-top: 2rem;
    border-top: 1px solid var(--color-border-default);
}
