.post h1 {
    margin-bottom: .5rem;
}

.post .tagline,
.post .date {
    font-family: "Helvetica Neue", sans-serif;
    margin-top: 0;
}

.post .tagline {
    margin-bottom: 0;
}

.post .date {
    color: var(--gray-4);
}
